!!!
%html{:lang => "en-US"}
		%head
				%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
				%meta{:charset => "utf-8"}/
				%title Babylon Ink
				%meta{:content => "", :name => "description"}/
				%meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0", :name => "viewport"}/
				%link{:href => "favicon.ico", :rel => "shortcut icon"}/
				%link{:href => "assets/main.css", :rel => "stylesheet"}/
		%body
				.wrapper
						= render 'layouts/welcome'
						#main
								= render 'partials/contacts_bar'
								= render 'partials/services_section'
								/ ============ Call to Action - START ============
								%section#appointment.section.cta.dark.bg{style: "background-image: url(assets/pibe.jpg);"}
										.bg-overlay
										%h1 Listo para tatuarte?
										.cta-info
												Pide una cita
												= succeed "!" do
														%strong AHORA
										%a.btn.md.light{:href => "appointment.html"}
												%i.fa.fa-thumb-tack>
												Cita
								/ ============ Call to Action - END ============
								/ ============ Instagram Banner - START ============
								%a.instagram-bar{:href => "https://www.instagram.com/babylontattoo90210_/", target: "_blank"}
										Mira nuestro trabajo en
										= succeed "!" do
												%strong Instagram
								/ ============ Instagram Banner - END ============
						/ ============ Footer - START ============
						%footer.dark
								.container
										.row
												.footer-col.col-md-4.col-sm-6
														%h3.focus-title Quienes somos
														%p
																%img.align-center{:alt => "THE TATTOOIST - Tattoo Studio", :src => "assets/logo.png", :width => "300"}/
														%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet facilis iusto quam, nisi voluptates minima. Nihil quasi dolore odio nulla sequi, ipsum placeat distinctio vero neque maxime, et reprehenderit asperiores.
												.footer-col.col-md-4.col-sm-6
														%h3.focus-title
																%i.fa.fa-clock-o>
																Horarios
														%dl.working-days
																%dt Lunes
																%dd 10:00 am - 8:00 pm
																%dt Martes
																%dd 10:00 am - 8:00 pm
																%dt Miercoles
																%dd 10:00 am - 8:00 pm
																%dt Jueves
																%dd 10:00 am - 8:00 pm
																%dt Viernes
																%dd 10:00 am - 8:00 pm
																%dt Sabado
																%dd 10:00 am - 6:00 pm
																%dt Domingo
																%dd Cerrado
												.footer-col.footer-contacts.col-md-4.col-sm-12
														.contact-item
																%span BABYLON INK TATTOO - Tattoo Studio
																%strong Carrera 45b # 90-210 Local 2 Callejón SAO 93 CC Alkarawi
														.contact-item
																%span Teléfonos:
																%strong
																		(035) 373 9371
																		\-
																		301 391 5261
														.contact-item
																%span Email:
																%strong
																		%a{:href => "#"} info@babyloninktattoo.com
														.contact-item
																%span Siguenos en:
																%ul.social-links
																		%li
																				%a{:href => "#", :title => "Facebook"}
																						%i.fa.fa-facebook
																		%li
																				%a{:href => "#", :title => "Twitter"}
																						%i.fa.fa-twitter
																		%li
																				%a{:href => "#", :title => "Google+"}
																						%i.fa.fa-google-plus
																		%li
																				%a{:href => "#", :title => "Instagram"}
																						%i.fa.fa-instagram
								.copyright
										© 2016 -
										%strong Babylon Ink Tattoo - by Tomás Herrera
						/ ============ Footer - END ============
				%script{:src => "assets/jquery.min.js"}
				%script{:src => "assets/common.js"}
				%script{:src => "assets/config.js"}
				%script{:src => "assets/main.js"}

